* {
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 50px;
    background-color: #212121;
}

header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0px;
    list-style-type: none;
}

.menu .menu_link {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    display: inline-block;
}

.menu .menu_item {
    padding-right: 28px;
    border-right: 2px dotted black;
    display: inline-block;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 85px;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 0 0 0;
}

.subheader .subheader_logo {
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.6;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 22px;
}

.subheader .subheader_phone{
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 12px;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46.6px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 4px rgba(0, 0, 0, 0.07);
    margin-top: 19px;

    font-weight: normal;
    font-size: 14px;
    line-height: 46px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
    text-align: center;
    padding: 150px 0px 150px 0px;
    margin-top: -1px;
}

.promo .promo_header {
    margin-top: 60px;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_subheader {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_descr {
    margin-top: 31px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    }

.promo .promo_btn {
    margin: 117px auto 0px auto;
    width: 259px;
    height: 64px;

    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: rgba(0, 0, 0, 0.07);

    font-weight: normal;
    font-size: 18px;
    line-height: 63px;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    height: 5318px;
}

.reasons .reason {
    display: inline-block;
}

.reasons .black_box {
    display: block;
    margin: 20px auto 0 auto;
    width: 112px;
    height: 24px;
    background: #000000;
}

.reasons .reasons_advantage {
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reasons .reasons_header {
    margin-top: 32px;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reasons .reason_image_circle {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    width: 113px;
    height: 115px;
    border-radius: 100%;
    background: #1EACC7;
}

.reasons .reason_image_circle .reason_image {
    width: 80px;
    height: 67px;
    margin: auto;
}

.reasons .reason_header {
    margin-top: 28px;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reasons .reason_description {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #202020;
}

.reasons .col-md-2 {
    display: flex;
    justify-content: center;
}